* {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #121213;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.game-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tile-container{
    padding-top: 40px;
    width: 340px;
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tile-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 62px;
    grid-gap: 7px;
}

.tile {
    width: 100%;
    background-color: #121213;
    border: 1px solid rgb(90, 89, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: 600;
}

.key-container{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 50px;
    grid-gap: 6px;
}

.key{
    width: 100%;
    background-color: rgb(136, 134, 134);
    border: 1px solid rgb(136, 134, 134);
    border-radius: 3px;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.grey-tile{
    /*transform: rotateX(360deg);
    transition: 1.2s;
	transform-style: preserve-3d;
	position: relative;*/

    background-color: rgb(46, 37, 37);
    border: 1px solid rgb(46, 37, 37);
}

.yellow-tile{
    /*transform: rotateX(360deg);
    transition: 1.2s;
	transform-style: preserve-3d;
	position: relative;*/

    background-color: rgb(223, 210, 39);
    border: 1px solid rgb(223, 210, 39);
}

.green-tile{
    /*transform: rotateX(360deg);
    transition: 1.2s;
	transform-style: preserve-3d;
	position: relative;*/

    background-color: rgb(20, 124, 20);
    border: 1px solid rgb(20, 124, 20);
}

.popup-container {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 5px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(46, 37, 37); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

.popup {
    background-color: rgb(46, 37, 37);;
    margin: 86px auto; /* 15% from the top and centered */
    padding: 10px 15px;
    border:none;
    border-radius: 3px
	    
}
